body{ color: #121212; }

.container--chatbot{ max-width: 100%; }

@media screen and (min-width: 768px) {
    .container--chatbot{ max-width: 93%; }
}

@media screen and (min-width: 1280px) {
    .container--chatbot{ max-width: 78%; }
}

@media screen and (min-width: 1580px) {
    .container--chatbot{ max-width: 68%; }
}

/* UTILITIES */
.tx-white{ color: #fff;}

.tx-black{ color: #000;}

.tx-book{ font-family: 'BS-BBVA book', sans-serif;}
.tx-medium{ font-family: 'BS-BBVA medium', sans-serif;}
.tx-bold{ font-family: 'BS-BBVA bold', sans-serif;}

.bg-primary-1{ background-color: #072146; }
.bg-secondary-2 { background-color: #DCFAFA; }

.tx-primary-1{ color: #072146; }
.tx-primary-3{ color: #00A9EC; }
.tx-secondary-1{ color: #01D0D2; }
.tx-lightblue{ color: #01D0D2; }

.tx-hover:hover{ color: #fff; transition: all 100ms ease; }

/* BUTTONS */
.btn{
    border-radius: 0;
    color: #fff;
    height: 72px;
    width: 100%;
    max-width: 300px;
    font-family: 'BS-BBVA medium', sans-serif;
    font-size: 22px;
}

@media screen and (min-width: 768px) {
    .btn{ 
        height: 88px;
        max-width: 360px;
    }
}

@media screen and (min-width: 1280px) {
    .btn{ 
        height: 100px;
        max-width: 432px;
    }
}

.btn:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.btn--primary-3{
    background-color: #00A9EC;
    border-color: #00A9EC;
}

.btn--secondary-1{
    background-color: #01D0D2;
    border-color: #01D0D2;
}

/* HEADER */
.main-header-light{ 
    background-color: #fff; 
}

.main-header-dark{ 
    background-color: #072146; 
}

.home-icons{
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
    .home-icons{ grid-template-columns: repeat(3, 1fr); }
}

@media screen and (min-width: 1280px) {
    .home-icons{ grid-template-columns: repeat(6, 1fr); }
}

/* FOOTER */
.social-media-case {
    height: 36px;
    width: 36px;
    background-color: #00A9EC;
    transition: all .2s;
    flex: none;
    display: grid;
    place-items: center;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.social-media-case:last-child{ margin-right: 0; }
.social-media-case:first-child{ margin-left: 0; }

.social-media-case:hover{ background-color: #fff; }

.copy{ color: #bdbdbd; }


.z-index-1{
    z-index: 1;
    position: relative;
}

.gridev{
    background-size: cover !important;
    outline: initial !important;
}

.af-title{
    font-size: 2em;
}

.bg-globo-bbva{
    background: #fff;
    background: url('../../images/bbva.png');
    background-size: 100% 100%;
    color: #072146;
    padding: 30px 40px 60px 40px;
    width: 50%;
    margin: 10px auto;
}

.bg-globo-client{
    background: #01D0D2;
    background: url('../../images/usuario.png');
    background-size: 100% 100%;
    color: #072146;
    padding: 30px 40px 60px 40px;
    width: 50%;
    margin: 0 auto;
}

.btn-destion{
    background: transparent;
    border: 0;
    color: #072146;
    font-family: 'BS-BBVA medium', sans-serif;
    font-size: 16px;
    height: 50px;
}

.img{
    width: 45%;
}

.h-100{
    height: 40rem;
}

ul{
    color: #072146;
    list-style: disc;
    padding: 0;
    font-size: 1.5rem;
    font-family: 'BS-BBVA medium', sans-serif;
}

.in-a{
    height: 100%;
}

.scroller{
    overflow-x: auto;
}


.coin{
    position: absolute;
    top: 10px;
    right: 10px;
}


.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
  }
  
  .fade-enter-active {
    transition-delay: .25s;
  }
  
  .fade-enter, .fade-leave-active {
    opacity: 0
  }

  @media screen and (max-width: 992px) {
    .bg-globo-bbva{
        width: 100%;
    }
    
    .bg-globo-client{
        width: 100%;
    }
}
